/*colors
aqua de okgrl #6ed3f9*/

html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

body {
    background-color: darkslategray;
  /*margin-bottom: 60px;*/
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7f9+0,f9b6c8+9,ffc0cb+14,ff6d85+23,ff6d85+23,ff5b71+33,ff5b71+33,ff5974+37,ff9eac+65,ff879b+81,ffd3da+90 */
background: rgb(249,247,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,247,249,1) 0%, rgba(249,182,200,1) 9%, rgba(255,192,203,1) 14%, rgba(255,109,133,1) 23%, rgba(255,109,133,1) 23%, rgba(255,91,113,1) 33%, rgba(255,91,113,1) 33%, rgba(255,89,116,1) 37%, rgba(255,158,172,1) 65%, rgba(255,135,155,1) 81%, rgba(255,211,218,1) 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,247,249,1) 0%,rgba(249,182,200,1) 9%,rgba(255,192,203,1) 14%,rgba(255,109,133,1) 23%,rgba(255,109,133,1) 23%,rgba(255,91,113,1) 33%,rgba(255,91,113,1) 33%,rgba(255,89,116,1) 37%,rgba(255,158,172,1) 65%,rgba(255,135,155,1) 81%,rgba(255,211,218,1) 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,247,249,1) 0%,rgba(249,182,200,1) 9%,rgba(255,192,203,1) 14%,rgba(255,109,133,1) 23%,rgba(255,109,133,1) 23%,rgba(255,91,113,1) 33%,rgba(255,91,113,1) 33%,rgba(255,89,116,1) 37%,rgba(255,158,172,1) 65%,rgba(255,135,155,1) 81%,rgba(255,211,218,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7f9', endColorstr='#ffd3da',GradientType=0 ); /* IE6-9 */
}

/*-------- modal styling --------- */

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 7000;
  background: rgba(0,0,0,0.8);
}

#modal-open-btn {
	border: 0;
	background: #444;
	color: pink;
	padding: 10px;
	cursor: pointer;
   background-color: #444 !important;
}


.btn-info {
    color: pink;
    background-color: #444;
    border-color: pink;
}
.btn-primary{
   background-color: #444 !important;
       border-color: pink !important;
    color: pink !important;


}


.modal-title{
    font-size: 5em;
  color: #FF717E;
  font-family: 'Lobster', cursive;
}

.modal-close {
  cursor: pointer;
  color: white;
  padding: 20px;
  z-index: 9100;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-close:hover {
  color: red;
}


/*-------- content styling --------- */

#content {
  width: 500px;
	display: block;
	color: white;
	position: relative;
	margin: 100px auto;
	padding: 30px;
	border: 1px solid white;
  background: rgba(0,0,0,0.25);
}
/*END BLACK MODAL*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: transparent;

}

.gold {
  color: gold;
}


.quote {
  padding-top: 20px;
}

.navHed {
color: white;
/*font-family: 'Abril Fatface', cursive; nice.plain*/
/*font-family: 'Geostar Fill', cursive; showy?*/
/*font-family: 'Fredericka the Great', cursive; light?*/
/*font-family: 'Bungee Outline', cursive; light?*/
/*font-family: 'Monofett', cursive;;;)*/
font-family: 'Bungee Shade', cursive;
}

nav li a {
  color: floralwhite;
}

/*PAIR W/ BUNGEE: 
Hed bold--Bungee
Hed cursive--Lobster
Hed disco--Monoton
text sans--Open Sans   font-family: 'Open Sans', sans-serif;*/



nav.navbar.navbar-default {
background: #333;    
    /*border-color: pink;*/
    color:floralwhite;
    padding: 7px;
    
    margin-bottom: 0px;
}

a.navHed.navbar-brand{
    color: black;
    color: floralwhite;
font-size: 29px;

}

a#basic-nav-dropdown.dropdown-toggle {
    color: floralwhite;
    background: #333;
}

.navbar-nav>a>li{
    color: floralwhite;
}

.navbar-default li a{
    color: floralwhite;
}
/*.dropdown-menu {
    background-color: #333;
}*/
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #333;
    border-radius: 10px;
    color: floralwhite;
}
/*HOME pg?*/

/*.row.homeHed{
padding: -2px;
}*/



 label  {
    display: inline-block;
    max-width: 100%;
    margin-bottom: -25px;
    /*font-weight: 700;*/
    font-size: 29px;
    /*font-family: 'Bungee', cursive;*/
     /*font-family: 'Lobster', cursive;*/
     font-family: 'Raleway', sans-serif;
     color: #555;
     /*float: right;*/
     /*letter-spacing: .2em;*/
    
}

.beenThereHome {
  /*font-family: 'Open Sans', sans-serif;*/
       /*font-family: 'Monofett', cursive;
            font-family: 'Lobster', cursive;*/
                font-family: 'Raleway', sans-serif;
    color: #555;
  font-size: 25px;
font-weight: bold;
}

.homePic {
  /*height: 200px;*/
  width: 100%;

}

 .form-group {
     margin-bottom: 10px; 
    margin-top: 60px;
}

.and {
font-family: 'Bungee', cursive;
font-size: 35px;
color: white;
}

.fa-book {
    /*content: "\f02d";*/
    font-size: 150%;
    color: navajowhite; 
}
/*
.fa-book:hover {
    font-size: 200%;
    color: navajowhite;
}*/

.YouGotThisDekHome {
font-family: 'Bungee', cursive;
font-size: 4.5em;
margin-top: 0px;
color: white;
/*background-color: white;*/

}

ul {list-style: none;
}

/*START FOUND*/


.news-card-tag {
  margin-bottom: 0.5rem;
}

.news-card-tag .label {
  border-radius: 0.125rem;
  /*background-color: #1779ba;*/
  color: #fefefe;
}

.news-card-tag .label a {
  background-color: inherit;
  color: inherit;
}

.news-card-tag .label:hover, .news-card-tag .label:focus {
  /*background-color: #14679e;*/
}

.news-card-tag .label:hover a, .news-card-tag .label:focus a {
  background-color: inherit;
  color: inherit;
}

.news-card {
  background-color: #fefefe;
  font-weight: 400;
  margin-bottom: 1.6rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      padding: 10px;
}

.news-card .card-section {
  background-color: inherit;
}

.news-card .card-section .news-card-date {
  font-size: 1em;
  color: #8a8a8a;
}

.news-card .card-section .news-card-article {
  background-color: inherit;
}

.news-card .card-section .news-card-article .news-card-title {
  line-height: 1.3;
  font-weight: bold;
}

.news-card .card-section .news-card-article .news-card-title a {
  text-decoration: none;
  color: #8a8a8a;
  transition: color 0.5s ease;
}

.news-card .card-section .news-card-article .news-card-title a:hover {
  color: navajowhite;
}

.news-card .card-section .news-card-article .news-card-description {
  color: #8a8a8a;
}

.news-card .card-section .news-card-author {
  overflow: hidden;
  padding-bottom: 1.6rem;
}

.news-card .card-section .news-card-author .news-card-author-image {
  display: inline-block;
  vertical-align: middle;
}

.news-card .card-section .news-card-author .news-card-author-image img {
  border-radius: 50%;
  margin-right: 0.6em;

}

.news-card .card-section .news-card-author .news-card-author-name {
  display: inline-block;
  vertical-align: middle;
}

div.news-card-tag {
  color:transparent;
}
/*foundARTICLES*/

.posts-panel {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  width: 100%;
  /*float: left;*/
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  float: none !important;
  /*margin: 1.25rem 0.625rem;*/
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2);
      border: solid #FF717E 10px;

}

.posts-panel::before, .posts-panel::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel::after {
  clear: both;
}

 /*.post-text .post-title{
    font-size: 3.125rem;
    margin-top: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}*/

@media print, screen and (min-width: 40em) {
  .posts-panel {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel:last-child:not(:first-child) {
  float: right;
}

.posts-panel, .posts-panel:last-child {
  float: none;
}

.posts-panel .panel-header {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  border-bottom: 0.25rem solid #e6e6e6;
}

.posts-panel .panel-header::before, .posts-panel .panel-header::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .panel-header::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .panel-header {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .panel-header:last-child:not(:first-child) {
  float: right;
}

.posts-panel .panel-header, .posts-panel .panel-header:last-child {
  float: none;
}

.posts-panel .panel-header .panel-title {
  margin: 0;
  padding: 0.9375rem 0;
  color: #8a8a8a;
  font-size: 1.625rem;
}

.posts-panel .panel-content {
  padding: 0.9375rem 0;
}

.posts-panel .pinned-post, .posts-panel .posts-list {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.posts-panel .pinned-post::before, .posts-panel .pinned-post::after, .posts-panel .posts-list::before, .posts-panel .posts-list::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .pinned-post::after, .posts-panel .posts-list::after {
  clear: both;
}

.posts-panel .pinned-post:last-child:not(:first-child), .posts-panel .posts-list:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post, .posts-panel .pinned-post:last-child, .posts-panel .posts-list, .posts-panel .posts-list:last-child {
  float: none;
}

.posts-panel .posts-list .post-item:not(:last-child) {
  border-bottom: 0.0625rem solid #e6e6e6;
}

.posts-panel .post-item {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.9375rem 0;
}

.posts-panel .post-item::before, .posts-panel .post-item::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .post-item::after {
  clear: both;
}

.posts-panel .post-item .post-thumbnail {
  display: block;
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

/*FOUNDATION INNER HED*/

/*end F INNER HED END*/

@media print, screen and (min-width: 40em) {
  .posts-panel .post-item .post-thumbnail {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .post-item .post-thumbnail:last-child:not(:first-child) {
  float: right;
}



.posts-panel .post-item .post-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 6px; 
  margin:auto 0 ;
}

.posts-panel .post-item .post-text {
  width: 66.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.post-thumbnail .picHed {
    width: 100%;
  height: auto;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .post-item .post-text {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .post-item .post-text:last-child:not(:first-child) {
  float: right;
}

.posts-panel .post-item .post-text p {
  margin: 0;
}

.posts-panel .post-item .post-title {
  font-size: 1.625rem;
}

.posts-panel .post-item .post-meta {
  color: #8a8a8a;
  font-size: 0.875rem;
}

.posts-panel .post-item .meta {
  display: inline-block;
  margin-right: 0.9375rem;
}

.posts-panel .post-item .meta-icon, .posts-panel .post-item .meta-text {
  display: inline-block;
  padding-right: 0.3125rem;
}

.posts-panel .post-item .post-read-more {
  display: block;
  font-size: 0.875rem;
}

.posts-panel .post-item .post-read-more .fa {
  padding: 0 0.3125rem;
}

.posts-panel .pinned-post .post-item {
  border-bottom: 0.0625rem solid #e6e6e6;
}

.posts-panel .pinned-post .post-thumbnail {
  display: block;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.posts-panel .pinned-post .post-thumbnail::before, .posts-panel .pinned-post .post-thumbnail::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .pinned-post .post-thumbnail::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .pinned-post .post-thumbnail {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .pinned-post .post-thumbnail:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post .post-thumbnail, .posts-panel .pinned-post .post-thumbnail:last-child {
  float: none;
}

.posts-panel .pinned-post .post-thumbnail img {
  width: 100%;
  height: auto;
}

.posts-panel .pinned-post .post-text {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-top: 0.9375rem;
}

.posts-panel .pinned-post .post-text::before, .posts-panel .pinned-post .post-text::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .pinned-post .post-text::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .pinned-post .post-text {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .pinned-post .post-text:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post .post-text, .posts-panel .pinned-post .post-text:last-child {
  float: none;
}

@media screen and (max-width: 39.9375em) {
  .posts-panel .posts-list .post-title {
    font-size: 1.125rem;
  }
  .posts-panel .posts-list .post-meta {
    font-size: 0.75rem;
  }
  .posts-panel .posts-list .post-summary {
    font-size: 0.75rem;
  }
  .posts-panel .posts-list .post-read-more {
    display: none;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .posts-panel .posts-list .post-title {
    font-size: 1.25rem;
  }
  .posts-panel .posts-list .post-meta {
    font-size: 0.875rem;
  }
  .posts-panel .posts-list .post-summary {
    font-size: 0.875rem;
  }
}

.posts-panel.grid .pinned-post, .posts-panel.grid .posts-list {
  width: 100%;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.posts-panel.grid .pinned-post:last-child:not(:first-child), .posts-panel.grid .posts-list:last-child:not(:first-child) {
  float: right;
}

@media screen and (max-width: 39.9375em) {
  .posts-panel.grid .pinned-post, .posts-panel.grid .posts-list {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float: left;
    padding-right: 0;
    padding-left: 0;
  }
  .posts-panel.grid .pinned-post::before, .posts-panel.grid .pinned-post::after, .posts-panel.grid .posts-list::before, .posts-panel.grid .posts-list::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .posts-panel.grid .pinned-post::after, .posts-panel.grid .posts-list::after {
    clear: both;
  }
  .posts-panel.grid .pinned-post:last-child:not(:first-child), .posts-panel.grid .posts-list:last-child:not(:first-child) {
    float: right;
  }
  .posts-panel.grid .pinned-post, .posts-panel.grid .pinned-post:last-child, .posts-panel.grid .posts-list, .posts-panel.grid .posts-list:last-child {
    float: none;
  }
}

.posts-panel.grid .pinned-post .post-item {
  border: 0;
}

.posts-panel.grid .posts-list .post-title {
  font-size: 1.125rem;
}

.posts-panel.grid .posts-list .post-meta {
  font-size: 0.75rem;
}

.posts-panel.grid .posts-list .post-summary {
  font-size: 0.75rem;
}

.posts-panel.grid .posts-list .post-read-more {
  display: none;
}


/*foundARTICLES*/


/*FOUNDBOO*/

.card-user-profile {
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 12rem;
    margin-left: 2rem;
    width: 130%;
    border: 0;
    border-radius: 0;
    background: #333;
    box-shadow: none;
    overflow: hidden;
    color:floralwhite;
    padding: 20%;
    border-radius: 10px;
}

.card-user-profile > :last-child {
  margin-bottom: 0;
}

.card-user-profile:hover .card-user-profile-img {
  opacity: 1;
}

.card-user-profile-content {
  position: relative;
}

.card-user-profile-content::before {
  position: absolute;
  content: '';
  top: -3.4375rem;
  left: -1.875rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.4375rem 0 0 31.25rem;
  z-index: 0;
  border-color: transparent transparent transparent #fefefe;
}

.card-user-profile-actions {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem;
  background: #e6e6e6;
  background: #fefefe;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-user-profile-actions > :last-child {
  margin-bottom: 0;
}

.card-user-profile-img {
  max-width: 100%;
  opacity: 0.85;
  transition: all 0.25s ease;
}

.card-user-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 2;
  max-width: 5.625rem;
}

.card-user-profile-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-user-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-user-profile-button {
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.card-user-profile-button + .card-user-profile-button {
  margin-left: 1rem;
}

.card-user-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}


/*FOUNDBOO*/




/*FOUND TRY article*/

/*FOUND TRY aarticle*/

.view1 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: #FF717E	 solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
/*font-family: 'Bungee Shade', cursive;

font-family: 'Monofett', cursive;*/
}


.view2 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: #ffdfba   solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
}

.view3 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: 	 #1FBED6   solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
}

.view4 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: #20b2aa    solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
}
.view5 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: hsla(53, 100%, 51%, 0.82)   solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
}
.view6 {
        height: 200px;
    width: 340px;
    /*background: blue;*/
    border: #ffa36d   solid 12px;
    border-radius: 6px;
    padding: 10px;
    color: #555;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
font-family: 'Open Sans', sans-serif;
}

.concernLabel a{
  background: white;
  color: #333;
  padding: 5px;
  border-radius: 6px;
  font-style: initial;
  border: solid .5px  #FF717E	;
              font-family: 'Lobster', cursive;
              font-family: 'Playfair Display', serif;
              font-size:1.75em;

}

/*END FOUND*/



/*CONCERN PG*/
.StorymodalHed {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 36px;
    color: black;
    	font-weight: bolder;

}


.modal-body.BGStorymodal {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 27px;
    color: #333;
    padding: 35px;
    width: 100%;
}

.modalName{
  	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     text-transform: uppercase;
  	font-size: 11px;
    color: #555;
    	font-weight: lighter;
      padding: 2px;
      font-weight: lighter;

}

.modalSource{
  	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 12px;
    color: #444;
    	font-weight: lighter;
      padding: 2px;

}

.BGmodal{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7f9+0,ffd47f+28,ffd5a5+44,ffd5a5+44,fffcfc+58,ff93a5+63,3f3fa8+69,ffc0cb+78,ffc0cb+84,ffc0cb+89,ffc0cb+89,ffc0cb+93 */
background: rgb(249,247,249); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(249,247,249,1) 0%, rgba(255,212,127,1) 28%, rgba(255,213,165,1) 44%, rgba(255,213,165,1) 44%, rgba(255,252,252,1) 58%, rgba(255,147,165,1) 63%, #1FBED6 69%, rgba(255,192,203,1) 78%, rgba(255,192,203,1) 84%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(255,212,127,1) 28%,rgba(255,213,165,1) 44%,rgba(255,213,165,1) 44%,rgba(255,252,252,1) 58%,rgba(255,147,165,1) 63%,#1FBED6 69%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 84%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(255,212,127,1) 28%,rgba(255,213,165,1) 44%,rgba(255,213,165,1) 44%,rgba(255,252,252,1) 58%,rgba(255,147,165,1) 63%,#1FBED6 69%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 84%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7f9', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

  .BG1{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7f9+0,60bcab+28,4f838c+35,fffcfc+42,ffc0cb+56,ff3855+64,ffc0cb+78,ffc0cb+78,ffc0cb+86 */
background: rgb(249,247,249); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(249,247,249,1) 0%, rgba(96,188,171,1) 28%, rgba(79,131,140,1) 35%, rgba(255,252,252,1) 42%, rgba(255,192,203,1) 56%, rgba(255,56,85,1) 64%, rgba(255,192,203,1) 78%, rgba(255,192,203,1) 78%, rgba(255,192,203,1) 86%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(96,188,171,1) 28%,rgba(79,131,140,1) 35%,rgba(255,252,252,1) 42%,rgba(255,192,203,1) 56%,rgba(255,56,85,1) 64%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 86%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(96,188,171,1) 28%,rgba(79,131,140,1) 35%,rgba(255,252,252,1) 42%,rgba(255,192,203,1) 56%,rgba(255,56,85,1) 64%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7f9', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

 .BG2 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f7f9+0,ffd47f+28,ffd5a5+44,ffd5a5+44,fffcfc+58,ff93a5+63,3f3fa8+69,ffc0cb+78,ffc0cb+84,ffc0cb+89,ffc0cb+89,ffc0cb+93 */
background: rgb(249,247,249); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(249,247,249,1) 0%, rgba(255,212,127,1) 28%, rgba(255,213,165,1) 44%, rgba(255,213,165,1) 44%, rgba(255,252,252,1) 58%, rgba(255,147,165,1) 63%, rgba(63,63,168,1) 69%, rgba(255,192,203,1) 78%, rgba(255,192,203,1) 84%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(255,212,127,1) 28%,rgba(255,213,165,1) 44%,rgba(255,213,165,1) 44%,rgba(255,252,252,1) 58%,rgba(255,147,165,1) 63%,rgba(63,63,168,1) 69%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 84%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(249,247,249,1) 0%,rgba(255,212,127,1) 28%,rgba(255,213,165,1) 44%,rgba(255,213,165,1) 44%,rgba(255,252,252,1) 58%,rgba(255,147,165,1) 63%,rgba(63,63,168,1) 69%,rgba(255,192,203,1) 78%,rgba(255,192,203,1) 84%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7f9', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

 .BG3 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3e822+1,1fbed6+28,fffcfc+39,fffcfc+39,ffc0cb+62,ffc0cb+62,39c1d3+63,1fbed6+69,017cba+78,ffc0cb+89,ffc0cb+89,ffc0cb+93 */
background: rgb(195,232,34); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(195,232,34,1) 1%, rgba(31,190,214,1) 28%, rgba(255,252,252,1) 39%, rgba(255,252,252,1) 39%, rgba(255,192,203,1) 62%, rgba(255,192,203,1) 62%, rgba(57,193,211,1) 63%, rgba(31,190,214,1) 69%, rgba(1,124,186,1) 78%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(195,232,34,1) 1%,rgba(31,190,214,1) 28%,rgba(255,252,252,1) 39%,rgba(255,252,252,1) 39%,rgba(255,192,203,1) 62%,rgba(255,192,203,1) 62%,rgba(57,193,211,1) 63%,rgba(31,190,214,1) 69%,rgba(1,124,186,1) 78%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(195,232,34,1) 1%,rgba(31,190,214,1) 28%,rgba(255,252,252,1) 39%,rgba(255,252,252,1) 39%,rgba(255,192,203,1) 62%,rgba(255,192,203,1) 62%,rgba(57,193,211,1) 63%,rgba(31,190,214,1) 69%,rgba(1,124,186,1) 78%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3e822', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

  .BG4 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dffc25+1,ffa500+28,fffcfc+39,fffcfc+39,ffc0cb+53,ffa500+79,ffc0cb+89,ffc0cb+89,ffc0cb+93 */
background: rgb(223,252,37); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(223,252,37,1) 1%, rgba(255,165,0,1) 28%, rgba(255,252,252,1) 39%, rgba(255,252,252,1) 39%, rgba(255,192,203,1) 53%, rgba(255,165,0,1) 79%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(223,252,37,1) 1%,rgba(255,165,0,1) 28%,rgba(255,252,252,1) 39%,rgba(255,252,252,1) 39%,rgba(255,192,203,1) 53%,rgba(255,165,0,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(223,252,37,1) 1%,rgba(255,165,0,1) 28%,rgba(255,252,252,1) 39%,rgba(255,252,252,1) 39%,rgba(255,192,203,1) 53%,rgba(255,165,0,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dffc25', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .BG5 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff38+1,ffffba+26,ffffba+26,fffcfc+33,fffcfc+33,fffcfc+39,ff2146+54,ffeff2+69,ffc0cb+69,00e5e5+79,ffc0cb+89,ffc0cb+93 */
background: rgb(255,255,56); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(255,255,56,1) 1%, rgba(255,255,186,1) 26%, rgba(255,255,186,1) 26%, rgba(255,252,252,1) 33%, rgba(255,252,252,1) 33%, rgba(255,252,252,1) 39%, rgba(255,33,70,1) 54%, rgba(255,239,242,1) 69%, rgba(255,192,203,1) 69%, rgba(0,229,229,1) 79%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(255,255,56,1) 1%,rgba(255,255,186,1) 26%,rgba(255,255,186,1) 26%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 39%,rgba(255,33,70,1) 54%,rgba(255,239,242,1) 69%,rgba(255,192,203,1) 69%,rgba(0,229,229,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(255,255,56,1) 1%,rgba(255,255,186,1) 26%,rgba(255,255,186,1) 26%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 39%,rgba(255,33,70,1) 54%,rgba(255,239,242,1) 69%,rgba(255,192,203,1) 69%,rgba(0,229,229,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff38', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .BG6 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#97c30a+1,ffffba+26,ffffba+26,fffcfc+33,fffcfc+33,fffcfc+34,ffaaba+40,de21ef+51,de21ef+51,ffc0cb+69,ffeff2+73,ffeff2+73,ffeff2+79,ffc0cb+89,ffc0cb+93 */
background: rgb(151,195,10); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(151,195,10,1) 1%, rgba(255,255,186,1) 26%, rgba(255,255,186,1) 26%, rgba(255,252,252,1) 33%, rgba(255,252,252,1) 33%, rgba(255,252,252,1) 34%, rgba(255,170,186,1) 40%, rgba(222,33,239,1) 51%, rgba(222,33,239,1) 51%, rgba(255,192,203,1) 69%, rgba(255,239,242,1) 73%, rgba(255,239,242,1) 73%, rgba(255,239,242,1) 79%, rgba(255,192,203,1) 89%, rgba(255,192,203,1) 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(151,195,10,1) 1%,rgba(255,255,186,1) 26%,rgba(255,255,186,1) 26%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 34%,rgba(255,170,186,1) 40%,rgba(222,33,239,1) 51%,rgba(222,33,239,1) 51%,rgba(255,192,203,1) 69%,rgba(255,239,242,1) 73%,rgba(255,239,242,1) 73%,rgba(255,239,242,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(151,195,10,1) 1%,rgba(255,255,186,1) 26%,rgba(255,255,186,1) 26%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 33%,rgba(255,252,252,1) 34%,rgba(255,170,186,1) 40%,rgba(222,33,239,1) 51%,rgba(222,33,239,1) 51%,rgba(255,192,203,1) 69%,rgba(255,239,242,1) 73%,rgba(255,239,242,1) 73%,rgba(255,239,242,1) 79%,rgba(255,192,203,1) 89%,rgba(255,192,203,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c30a', endColorstr='#ffc0cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

.about-the-author {
  background-color: #fefefe;
  padding: 1rem;
  border: 1px solid #cacaca;
}

.about-the-author .separator-left {
  text-align: left;
}

.about-the-author .separator-left::before, .about-the-author .separator-left::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.about-the-author .separator-left::after {
  clear: both;
}

.about-the-author .separator-left::after {
  position: relative;
  width: 5rem;
  border-bottom: 0.125rem solid #1779ba;
  margin: 0.3rem auto 0;
  margin-left: 0;
}

.about-the-author .author-title {
  text-transform: uppercase;
}

.about-the-author .author-social {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.about-the-author .author-social .fa-stack {
  display: inline-block;
}

.about-the-author .author-social .fa-stack.facebook {
  color: #4c70ba;
}

.about-the-author .author-social .fa-stack.facebook:hover, .about-the-author .author-social .fa-stack.facebook:focus {
  color: #3b5998;
}

.about-the-author .author-social .fa-stack.twitter {
  color: #83c3f3;
}

.about-the-author .author-social .fa-stack.twitter:hover, .about-the-author .author-social .fa-stack.twitter:focus {
  color: #55acee;
}

.about-the-author .author-social .fa-stack.linkedin {
  color: #009ee8;
}

.about-the-author .author-social .fa-stack.linkedin:hover, .about-the-author .author-social .fa-stack.linkedin:focus {
  color: #007bb5;
}

.about-the-author .author-image {
  border: 1px solid #cacaca;
}*/


/*---End Foundation Card Article ---*/

 .concernHed  {
  font-size: 4em;
  color: #555;
  font-family: 'Open Sans', sans-serif;

}
.card-user-profile-name {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 4rem;
font-family: 'Monofett', cursive;
  /*font-weight: bolder;*/
  color: floralwhite;
  font-family: 'Open Sans', sans-serif;


}

.pullQuote {
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
   color: white;
       font-size: 1.25em;


}

 .viewHed {
  font-size: 9em;
  color: #FF717E;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Bungee', cursive;
         /*font-family: 'Monofett', cursive;*/
            font-family: 'Lobster', cursive;
  text-align: center;

}
.comradeHed {
  font-size:2em;
    font-weight: bolder;
      width: 120%;
    font-family: 'Open Sans', sans-serif;
  color: #FF717E;

}
.comrade {
  font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
                        font-family: 'Playfair Display', serif;

  color: floralwhite;
      width: 120%;

}
.witness {
    font-size: 1.5em;
      /*font-family: 'Lobster', cursive;*/
        color: floralwhite;

}
.concernTally{
background: white; 
width: 20%; 
padding: 5px;
 margin-top:7px; 
border-radius:10px; 
text-align:center;
}

div #accordion a {
  color: floralwhite;
      font-size: 20px;

}

h5.mb-0 a {
    color: floralwhite;
    font-size: 20px;
}

.thereHereBtns li  {
  display:inline;
  margin-right: 5px;
  /*float: left;*/
  }

.thereHereTally li  {
  display:inline;
  margin-right: 15px;
  float: left;
  /*margin-right: */
    }

.concernPgBtns li  {
  display:inline;
  margin-right: 5px;
  /*float: left;*/
  }

.storyText{
background: white; 
border-radius:10px; 
padding: 15px;
height: 40%;
width: 100%;
margin-top:17px; 
    display: inline-block;
    vertical-align: middle;
    /*background-color: #000;*/
}

.blockquote  {
    padding: 30px 20px;
    margin: 20 0 20px;
    font-size: 25px;
    border-left: 5px solid #eee;
    /*color: green;*/
}
/*green dropdown List*/
/*.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}*/
.list-group-submenu {
  margin-left:20px;
}

/*YOYO*/

.read-more-content,
.read-more {
  display: none;
  margin-top: 1rem;
}

.read-more-content.expanded .read-more,
.read-more.expanded .read-more {
  display: block;
}



/*YOYO*/

/*ABOUT US pg*/

.bio {
background: white; 
border-radius:10px; 
padding: 15px;
height: 70%;
width: 100%;
margin-top:17px; 
}

/*WHY pg*/

.whyPgBtns li {
    display:inline;
  margin-right: 5px;
  /*float: left;*/
      margin-top: 17%;
  }
}

/*LOGINBOX pg*/
/*
body {
    width:100px;
	height:100px;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
font-family: 'Raleway', sans-serif;
}

p {
	color:#CCC;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
	color:#CCC;
}*/

/*SUBMIT STORY pg*/

/*.holdSubmit .container-fluid  {
  width: 60%;
}*/

 holdSubmit{
    /*padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;*/
    width: 60%;
}

.form-control.storyGather {
  
    border-radius: 5px;
    color:#555;

}

.holdSubmit.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
     border-radius: 5px;
     border: floralwhite 85px solid;
     
}
.form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
    margin-bottom: -5%;
}

 div .inputTitle {
  font-family: 'Open Sans', sans-serif;
  	color:#333;
    font-size: 20px;
}

input.storyGather::before::after{
  background-color: #d9534f;
    border-color: floralwhite;
}

.by {
  width: 40%;
    border-radius: 5px;

}

.title {
  width: 60%;
    border-radius: 5px;
}

#sel1 {
  width: 40%;
    border-radius: 5px;
    margin-top: -10px;

}


#comment {
  width: 60%;
      border-radius: 5px;

}

.submit {
  text-align: left;
  color: #333;
  font-size: 29px;
    margin-bottom: auto;
}


}